
.text-center {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    font-family: Comic Sans Ms;
}

.boxsize {
    width: 100%;
    padding: 30px;
}

.boxsize .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
    padding: 10px;
}
.boxsize .form-control:focus {
  z-index: 2;
}
.boxsize input[type="email"] {
    margin-bottom: -1px;
}
.boxsize input[type="password"] {
    margin-bottom: 10px;
}

.btn{
    box-sizing: border-box;
    background-image: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%);
    height: auto;
    width: 50%;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 2px;
}

.btn:hover {
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
}
@media screen and (max-width: 736px) {
    .btn { width: 100%;}
    .btn2 { width: 100%;}
}

.btn2{
    box-sizing: border-box;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    height: auto;
    width: fit-content;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}
.btn2:hover {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}


#custom-alert {
    top: 10px;
    position: fixed;
}

.people{
    width: 96%; 
    height: fit-content; 
    background: white; 
    margin: 2%; 
    border: 2px outset;
}
.pimg{
    width: 15%; 
    height: 100%; 
    margin-right: 5%; 
}
.pname{
    width: 70%;
    height: fit-content; 
    word-break: break-all;
}
.pdot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}
#con:hover {
    color: seagreen;
}